// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.inter-100 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }

.alatsi-regular {
    font-family: "Alatsi", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.sahitya-regular {
  font-family: "Sahitya", serif;
  font-weight: 400;
  font-style: normal;
}

.londrina-solid-light {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.league-spartan {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.smythe-regular {
  font-family: "Smythe", system-ui;
  font-weight: 400;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.updock-regular {
  font-family: "Updock", cursive;
  font-weight: 400;
  font-style: normal;
}
